@media screen and (max-width: 300px) {
    main {
        display: none;
    }

    body::before {
        width: 100dvw;
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 40px;
        color: white;
        content: "Tela muito pequena!";
    }
}

@media screen and (max-width: 450px) {
   main {
        width: 90%;
    }
    
    main #logoPokemon {
        min-width: 200px !important;
    }
    
    .pokemonBox {
        width: 100%;
        text-align: center;
    }

    .pokemonBox img {
        max-width: 300px;
    } 
}

@media screen and (max-width: 770px) {
    main {
        width: 90%;
    }
    
    main #logoPokemon {
        min-width: 300px;
    }
    
    .pokemonBox {
        width: 100%;
        text-align: center;
    }

    .pokemonBox img {
        max-width: 300px;
    }
}

@media screen and (max-width: 900px) {
    main {
        width: 80%;
    }
}