@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial;
}

body {
    background-color: #3466AF;
}

main {
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    background-color: white;
    border-radius: 12px;
}

main h2 {
    margin-top: -30px;
    font-family: "Pokemon Solid", sans-serif;
    color: #FFCB05; 
    -webkit-text-stroke: 2px #3466AF;
    text-align: center;
    font-size: 50px;
}

#pokemonDiv {
    display: flex;
    flex-wrap: wrap;
}

.pokemonBox {
    width: 29%;
    margin: 0 2%;
    margin-top: 20px;
    border: 3px #3466AF solid;
    padding: 10px;
    border-radius: 12px;
    position: relative;
}

.pokemonBox img {
    width: 100%;
}

.pokemonBox .nomePokemon {
    color: black;
    font-size: 25px;
    text-align: center;
}

.pokemonBox .statsPokemon {
    text-align: center;
    margin-top: 5px;
    font-style: italic;
}

.statsPokemon .verHabilidades {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.habilidadesCampo {
    display: none;
    width: 80%;
    margin: 20px auto;
    margin-bottom: 10px;
}

.habilidadesCampo.aberto {
    display: block;
}

#quantidadePokemons {
    display: block;
    margin: 0 auto;
    width: 80%;
    outline: none;
    padding: 10px;
    border: #3466AF 2px solid;
    border-radius: 8px;
    font-size: 18px;
}